.hero-com{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
   
    .middle{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 26vw;
        cursor: pointer;
    }
    .hover1:hover{
        color: red;
    }
    .hover2:hover{
        color: red;
    }
    .hover3:hover{
        color: red;
    }
    .hover4:hover{
        color: red;
    }
    .hover5:hover{
        color: red;
    }
    .hover6:hover{
        color: red;
    }
    .right{
        display: flex;
        align-items: center;
        width: 150px;
        justify-content: space-between;
        cursor: pointer;
        .hovers1:hover{
            color: red;
        }
        .hovers2:hover{
            color: red;
        }
        .hovers3:hover{
            color: red;
        }
        .hovers4:hover{
            color: red;
        }
    }

}