.nav3-comp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:  20px;
    background-color: black;
    height: 50px;
    color: white;
 
    margin-top: -0px;
}
