.navbar-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    flex-wrap: nowrap;
  }
  
  .leftnav, .rightnav {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .leftnav span {
    font-size: 12px;
    font-weight: bold;
  }
  
  .us-logo img {
    width: 25px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .rightnav .social-icons {
    display: flex;
    gap: 10px;
  }
 
  
  .rightnav .dropdown {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  .facebook:hover{
    color: blue;
  }
  .twitter:hover{
    color: blue;
  }
  .instagram:hover{
    color: blue;
  }
  
  .more-btn {
    display: none;
    cursor: pointer;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .navbar-container {
      flex-wrap: wrap; 
      flex-direction: column; 
      align-items: flex-start;
    }
  
    .rightnav {
      display: none; 
    }
  
    .rightnav.active {
      display: flex; 
      flex-direction: column;
      gap: 10px;
    }
  
    .more-btn {
      display: flex; 
    }
  }