.Products-con{
    display: flex;
    flex-direction: column;
    position: absolute;
    .products{
        display: flex;
        position: relative;
        top: 100px;
    }
    .hover1:hover{
        filter: grayscale(0.4);
    }
    .hover2:hover{
        filter: grayscale(0.4);
    }
    .hover3:hover{
        filter: grayscale(0.4);
    }
   .buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -200px;
    z-index: 3;
    padding: 160px;
   }
   button:hover{
    .arrow:hover{
        transform: translateX(4px);
    }
   }

}